<p>dashboard works!</p>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">

<body class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html"><img src="../../../assets/images/logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="../../../assets/images/logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">

                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li  class="active"><a routerLink="/admin/main"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                        <li><a routerLink="/admin/view/players" ><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm" aria-hidden="true">Delete/Edit/View Players</span></a></li>
                        <li><a routerLink="/admin/create/players"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Create Players</span></a></li>
                        <li><a routerLink="/admin/view/coaches" ><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm" aria-hidden="true">Delete/Edit/View Coaches</span></a></li>
                        <li><a routerLink="/admin/create/coaches"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Create Coaches</span></a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <div class="search" id="search">
                                <div>
                                    <input type="text" id="myInput" onkeyup="myFunction()" list="courses" placeholder="Search " title="Type in a name" required>

                                </div>
                            </div>
                        </div>
                     
                    </header>
                </div>
                <div class="user-dashboard">
                    <h1>Ola, Admin here you will receive match and session permission notifications!</h1>
                    <div class="row">
                    
                     
                    </div>
               
                    <ul> 
                        <li *ngFor="let prac of Schedule; let i = index" > 
                           
                            
                        
                         <h2>   Type:  {{prac.sessionType}} </h2>
                            Game: {{prac.game.name}}
                            <br>
                            Player 1 name: {{prac.user1.firstname}}
                            <br>
                       <p *ngIf="prac.user2!=null">Opponent Name: {{prac.user2.firstname}}</p>  
                       <p *ngIf="prac.user2==null">Opponent Name: Coach {{prac.coach.name}}</p>    
                           Court Name: {{prac.court.name}}
                           <br>
                           <button *ngIf="prac.sessionType===Practice"  type="button" class="btn btn-success btn-sm" (click)="Accept(prac._id)">Accept Session</button>
                           <button *ngIf="prac.sessionType===Practice"  type="button" class="btn btn-success btn-sm" (click)="Decline(prac._id)">Decline Session</button>
                           <button *ngIf="prac.sessionType===Game"  type="button" class="btn btn-success btn-sm" (click)="AcceptMatch(prac._id)">Accept Game</button>
                           <button *ngIf="prac.sessionType===Game"  type="button" class="btn btn-success btn-sm" (click)="DeclineMatch(prac._id)">Decline Game</button>
                

                
                        </li>
                   
                        
                      </ul> 

          
              

                </div>
            </div>
        </div>

  

    </div>
   


    <!-- Modal -->
    <div id="add_project" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add Project</h4>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Project Title" name="name">
                    <input type="text" placeholder="Post of Post" name="mail">
                    <input type="text" placeholder="Author" name="passsword">
                    <textarea placeholder="Desicrption"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="add-project" data-dismiss="modal">Save</button>
                </div>
            </div>

        </div>
    </div>

</body>